<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="default" xsi:type="File" fileName="C:\Users\Jason\Desktop\Trace.log" layout="${longdate} ${callsite} ${level} ${message}"/>
  </targets>
  <rules>
  <logger name="*" minlevel="Info" writeTo="default" />
  </rules>
</nlog>